# ===============================
# Go build & binaries
# ===============================
*.exe
*.exe~
*.dll
*.so
*.dylib
*.out
*.test

# Build directories
bin/
build/
dist/

# ===============================
# Go modules
# ===============================
vendor/

# IMPORTANT:
# Do NOT ignore go.mod or go.sum

# ===============================
# Logs & temp files
# ===============================
*.log
tmp/
temp/

# ===============================
# IDE / Editor
# ===============================
.env

storage